extends _layout

block content
  div.group(data-q-url="/groups/#{session.groupId}/users/#{session.userId}" data-q-group="#{session.groupId}" class=(isAdmin) ? "admin" : "user")
    h2 Salut #{session.pseudo}, groupe #{session.groupName}
    h1 Id = #{session.userId}

    div.group__serving
      h3 En cours
      ul.list
      if server
        li(data-q-id="#{pender.id}")
          strong.ticket #{formatZero(server.ticket)}
          |  #{pender.pseudo}

    div.group__pending
      h3 File d'attente
      ol.list
        if penders.length
          each pender in penders
            li(data-q-id="#{pender.id}")
              if pender.ticket > 0
                strong.ticket #{formatZero(pender.ticket)}
              |  #{pender.pseudo}

    div.group__watching
      h3 Connectés
      ul.list
        if watchers.length
          each watcher in watchers
            li(data-q-id="#{watcher.id}" class=(watcher.id == session.userId ? "active" : "")) #{watcher.pseudo}
              if watcher.id == session.userId
                a.get-in(href="#") prendre un ticket

    - var action = (isAdmin) ? 'close' : 'leave'
    form(action="/groups/#{session.groupId}/#{action}" method="post" class="#{action}")
      button(type="submit") #{(isAdmin) ? 'fermer' : 'quitter'}
