extend _layout

block content
  h2 Hello #{session.pseudo}, welcome to #{session.queueName}

  if logs.length
    h3 All logs
    ul
      each log in logs
        li #{log.pseudo} @ #{log.queuedAt}
  else
    p Quel chance, tu es le premier!…

  if !session.queueActive
    form(action="/queues/#{session.queueId}/join" method="post")
      button(type="submit") join

  p
    a(href="/queues/#{session.queueId}/leave") leave
